﻿/* Place custom styles below */
body{}

h3{
    border-left:10px solid #0094ff;
    border-bottom: 2px solid #0094ff;
    color: #0094ff;
    font-size: 1.2em;
    padding: 5px 30px;
}

.blok{
    padding:10px;
}

.fieldDiv{
    padding:5px;
}

.savebutton{
    margin-left:418px !important; 
}

.longselect {
    width:300px;
}

.myfields label, .myfields input {
  display:inline-block;
}

.myfields label {
  width:100px; 
}

td{
    margin:20px 10px;
}

.datepicker{
    width:200px;
}